:root{
    --gray-list: #F3F3F3 0% 0% no-repeat padding-box;
    --black: #343224;
    --white: #FFFFFF;
    --cyan: #009E9A;
    --light-cyan: #40CFCB;
    --gray-background: #CED4D8;
    --sucess: #007508;
    --warn: #AA6600;
    --cancel: #CECECE;
}

