@import '../../../config-scss/rem-calc.scss';

$small: rem-calc(300);
$medium: rem-calc(900);

.listagem{
   height: 100%;
   margin: rem-calc(16);
   margin-left: rem-calc(32);
   margin-top: rem-calc(55);
}

h4{
    color: var(--white);
}

a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

mat-sidenav{
    width: 15%;
    border-right: none;
    background-color: var(--cyan);
    padding: rem-calc(16);
    text-align: center;

    @media screen and (max-width: $small) {
        width: 15%
      }
    
      @media screen and (max-width: $medium) {
        width: 15%;
      }
}

mat-sidenav-container{
    height: 100%;
}