<div>
    <a href="/add">
        <button mat-raised-button>adicionar indicações</button> 
    </a>
</div>

<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="40px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4]">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>Cards</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    teste
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>